{{yield}}

{{#link-to "article" article.id}}<img style="width: 300px; height: 200px; padding-left: 20px;" src="{{article.image}}" alt="image">
<p style="padding: 20px;">{{article.title}} <br> By: {{article.author}}</p>{{/link-to}}
