.navbar-brand {
  font-size: 2em;
}

.navbar-nav {
  font-size: .8em;
  float: right;
}

.search {
  padding-top: 15px;
}

.search-input {
  border-radius: 10px;
}

.socialMedia {
  height:25px;
  width:25px;
}

.socialMedia:hover {
  display: none;
  /*text-decoration: underline;
  color: blue;*/

}

.carouselIMG {
  height: 400px;
  width: 600px;
  padding: 10px;
}
#menu{
  /*display: none;*/

}
