<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">HUSTLE</a>
    </div>

     <ul class="nav navbar-nav">
        <li><a href="#">NEWS</a></li>
        <li><a href="#">ENTERTAINMENT</a></li>
        <li><a href="#">LIFESTYLE</a></li>
        <li><a href="#">FASHION&BEAUTY</a></li>
        <li><a href="#">BOOKS</a></li>

        <li><div class="search">
          <input type="text" class="search-input" placeholder="Search">
        </div></li>

        <li><a href="/"><img style="margin-left: 15px; margin-right: -15px;" class="socialMedia" src="http://www.10weekstofit.com/twitter-circle-300px.png"</i>
        </a></li>

        <li><a href="/"><img class="socialMedia" src="http://blueclawrestaurant.com/images/Round_Facebook_Icon_3.png"></a></li>

         <select  id="menu">
            <option value="login">Login</option>
            <option value="addEmail">Add e-mail</option>
            <option value="post">Post</option>
          </select>

    </ul>
  </div>
</nav>
{{#carousel-container transition-interval=400}}
  {{#carousel-body}}
    {{#carousel-item}}
      <img class="carouselIMG" src="http://www.redstate.com/uploads/2015/07/trumpimage.jpg">
    {{/carousel-item}}
    {{#carousel-item}}
      <img  class="carouselIMG" src="http://barkpost.com/wp-content/uploads/2014/03/corgistampede-671x324.jpg">
    {{/carousel-item}}
    {{#carousel-item}}
      <img class="carouselIMG" src="https://timewellness.files.wordpress.com/2014/01/186345703.jpg?w=720">
    {{/carousel-item}}
    {{#carousel-item}}
      <img class="carouselIMG" src="http://www.amazingplacesonearth.com/wp-content/uploads/2012/08/mount-hood.jpg">
    {{/carousel-item}}
    {{#carousel-item}}
      <img class="carouselIMG" src="http://www.cnyhiking.com/BRP-Bl4.jpg">
    {{/carousel-item}}

    {{#carousel-arrow direction="left" tagName="button"}}
      Slide Left
    {{/carousel-arrow}}
    {{#carousel-arrow direction="right" tagName="button"}}
      Slide Right
    {{/carousel-arrow}}
  {{/carousel-body}}
{{/carousel-container}}


<div class="container">
  {{outlet}}
</div>
